.block {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 25%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}